<!doctype html>
<html>
  <head>
    <title>Jirgin</title>
  </head>
  <body style="max-height: 40vh;  
    margin: 0;
    padding:0;
    color:navy;"
  >
    <div style="display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100vh;
        flex-direction: column;"
    >
        <h1>Welcome to Jirgin API,</h1>
        <h3>View Documentation
          <a href="https://documenter.getpostman.com/view/7627295/S1TR3zRv?version=latest"
            target="blank"
            style="text-decoration:none; color:darkorange"
          >
            Here
          </a>
        </h3>
    </div>
  </body>
</html>
   
